.main_bottom_bar {
    height: 90px;
    width: 100%;
    background: var(--bg-player);
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    padding: 10px 10px;

    .rhap_button-clear {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--rightsidebar-hover);
            svg{
                color: #257eff;
            }
        }

        &.rhap_play-pause-button:hover {
            background-color: unset;
        }
        &.btn_more{
          
            div{
                width: 100%;
                height: 100%;
                div{
                    width: 100%;
                    height: 100%;
                    svg{
                        height: 100%;
                    }
                }
            }
            &:hover{
                svg{
                    fill: #257eff;
                color: #257eff;
                }
            }
        }
        
            
        
    }
    .player_info {
        width: 30%;
        height: 100%;

        .player_info_ctn {
            display: flex;
            align-items: center;
            gap: 10px;
            .img {
                width: 64px;
                height: 64px;

                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }

            .name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 83%;
                padding-right: 50px;

                h5 {
                    color: var(--text-1);
                    font-size: 14px;
                }

                .artist {
                    font-size: 13px;
                    height: 18px;
                    width: 140px;
                    padding: 0;
                    overflow: hidden;
                    position: relative;
                    display: inline-block;
                    text-align: center;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: var(--text-2);
                    -webkit-line-clamp: 1;

                }
            }

            .more {
                color: #000;
                display: flex;

                svg {
                    font-size: 16px;
                }
            }

        }
    }
    svg{
        cursor: pointer;
        color: var(--item-player);
        fill: var(--item-player);
    }
    
    .player_main {
        width: 40%;
        height: 100%;
        .rhap_container {
            padding: 0 15px;
            background-color: unset !important;
            box-shadow: unset !important;

            .rhap_time {
                color: var(--text-1);
            }
        }
        
        .rhap_stacked-reverse {
            position: relative !important;
            button{
                &.rhap_play-pause-button{
                    svg{
                        font-size: 40px;
                    }
                }

                svg {
                    font-size: 22px;
                }
            }

            

            .rhap_rewind-button,
            .rhap_forward-button {
                display: none;
            }

            .rhap_container {
                padding: 0 !important;
            }

            .rhap_controls-section {
                justify-content: center !important;

                .rhap_additional-controls,
                .rhap_volume-controls {
                    flex: none;
                }

                .rhap_repeat-button{
                    width: 35px;
                    height: 35px;
                }
                .rhap_volume-controls {
                    svg {
                        font-size: 18px;
                    }
                }
                .rhap_volume-controls{
                    button{
                        width: 35px;
                    height: 35px;
                    }
                }
            }

            .rhap_progress-section {
                .rhap_time {
                    font-size: 13px;
                }

                .rhap_progress-bar {
                    height: 4px ;
                }

                .rhap_progress-indicator {
                    width: 12px;
                    height: 12px;
                    margin-left: -10px;
                    top: -4px;
                    background-color: #257eff;
                }
                .rhap_progress-filled{
                    background-color: #257eff;
                }

                .rhap_volume-container {
                    position: absolute !important;
                    right: -52%;
                    width: 100px;
                    top: 30%;
                }
                .rhap_progress-container{
                    &:hover{
                        .rhap_progress-bar{

                            height: 6px;
                            .rhap_progress-indicator{
                                display: block;
                            }
                        }
                    }
                    .rhap_progress-bar{
                        
                        .rhap_progress-indicator{
                            display: none;
                        }
                    }
                }
                .rhap_volume-bar-area{
                    .rhap_volume-indicator{
                        background: #257eff;
                    }
                }
            }
        }

    }

    .player_more {
        display: flex;
        width: 30%;
        justify-content: flex-end;
        padding-right: 30px;
.player_more_1{
    display: flex;
    border-right: 1px solid var(--text-2);
    
}
        svg {
            width: 20px;
        }
    }

}