.col_3_layout_Container {
    display: flex;
    gap: 30px;

    .col_3_layout {
        width: 100%;

      
    }
}

@media screen and (max-width:600px) {
    .col_3_layout_Container {
        overflow-x: auto;

        .col_3_layout {
            width: auto !important;

            .col_3_layout_colum {
                width: 30rem;
            }
        }
    }
}