.comments {
  margin-top: 20px;
}
.comment-noUser{
  border: 1px solid #ccc;
  border-radius: 10px;
  .comment-wrap{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 15px;
    }
    .group_btn{
      button{
        margin: 0 5px;
        width: 80px;
        height: 35px;
        font-size: 14px;
      }
    }
  }
}
.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--text-1);
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.main-comment {
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
}

form {
  display: flex;
  padding: 20px;

  margin: 10px 0px;

  .userImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;

a{
  width: 50px;
  height: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
  }

  .emoji-input {
    display: flex;
    width: 100%;
    position: relative;
  }
}

.comment-form-textarea {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: medium;
  border: none;
  border-bottom: 1px solid rgb(24, 24, 24);
  text-decoration: none;
  background-color: transparent;
  margin-left: 6px;
  color: var(--text-1);

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--text-2);
  }
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 20px;
  height: 40px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
  border: 1px solid var(--text-2);
}


.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-cancel-button {
  background-color: rgb(237, 237, 237);
  color: rgb(98 98 98);

  &:hover {
    background-color: rgb(188 188 188) !important;
  }
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin: 0 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
  img{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
  }
}



.comment-right-part {
  width: 100%;
  color: var(--text-1);
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 16px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.comment-actions {
  width: 100px;
  display: flex;
  font-size: 12px;
  color: var(--text-1);
  cursor: pointer;
  // margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-bottom: 5px;

  .repstatus {
    font-size: 15px;
    cursor: pointer;
    color: #3867ff;
    width: fit-content;
    padding: 5px;

    &:hover {
      // background-color: #b9dff9;
      // border-radius: 10px;
      text-decoration: underline;
    }
  }
}

.menu-more {
  width: 20px;
  display: flex;
  flex-direction: column;
  // background: #ffffff;
}

.comment-action {
  cursor: pointer;
  padding: 10px;
  height: 28px;
  font-size: 14px;
  display: flex;
  align-items: center;
  svg{
    margin-right: 5px;
  }
}

.comment-action:hover {
  color: #2980b9;
}

.popup-content {
  width: fit-content !important;
}

.comment_button {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 5px 20px;
    font-size: 16px;
    background-color: #c4e4f9;
    border-radius: 10px;
    transition: 0.5s linear;

    &:hover {
      background-color: #9bd7ff;

    }
  }
}
#popup-root .popup-content{
  background-color: #fff !important;
}