.detailed_list {
    .list_father {
        display: flex;
        justify-content: space-between;
        height: 50rem;
        .list_head {
            width: 50%;

            section {
                margin: 2rem;

                p {
                    font-size: 1.5rem;
                }
            }

            .list_info_ctn {
                display: flex;
            }

            height: fit-content;

            .control {
                display: flex;
                justify-content: space-between;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .child_btn_gr {
                    display: flex;
                    gap: 2rem;
                    margin: 2rem;

                    button {
                        background-color: transparent !important;
                    }
                }

                .play_random {
                    color: #257eff;
                    background-color: #b9ceff !important;
                    border-radius: 2rem;
                    padding-right: 1rem;
                    transition: all 0.2s ease-in-out;
                }

                .play_random:hover {
                    opacity: 0.5;

                }

                button {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    background-color: transparent;
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 0;

                    svg {
                        font-size: 3rem;
                    }
                }
            }
        }

        .list_body {
            width: 45%;
            height: 100%;
            overflow-y:auto ;
        }

        .mid_head {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: 2rem;
            color: #257eff;
        }

        .mid_head h1 {
            font-size: 6rem;
            color: #257eff;
        }

        .mid_head p {
            font-size: 1.5rem;
        }

        .left_head {
            width: 23rem;
            height: 23rem;

        }

        .left_head img {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            object-fit: cover;
        }

        .info {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
        }

        .small_avt {
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            overflow: hidden;
            object-fit: contain;
        }

        .small_avt img {

            width: 100%;
            height: 100%;

        }


        .menu_btn {
            font-size: 3rem !important;
        }


        .menu {
            width: 200px;
            display: flex;
            flex-direction: column;
            background: #282828;
            color: #257eff;
            padding: 2rem;
            font-size: 1.5rem;
        }

        .menu-item {
            cursor: pointer;
            background-color: transparent;
            text-align: left;
            padding: 1rem;
            border-radius: 0.4rem;
        }

        .menu-item:hover {
            background-color: #3e3e3e !important;
            border: none !important;
        }

        .menu_btn {
            display: flex;

        }


        .list_lable {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: #257eff;
            justify-content: space-between;
            margin-bottom: 2rem;
            border-bottom: 2px #393333 solid;
        }

        .lable4 {
            width: 7rem !important;
            text-align: center;
        }

        .lable3 {
            width: 9rem !important;
        }

        .lable1 {
            width: 14rem;
            display: flex;
            align-items: center;
        }

        .lable1 :last-child {
            margin: 0 2rem;
        }
    }
}