.Header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: transparent;
    .avt_page{
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        border-radius: 50%;
    }
    .avt_page img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    .Navigation_btn{
        font-size: 2rem;
        background-color:transparent;
        padding: 1rem;
        color: black;
    }
    
    
}

.menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #282828;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
}

.menu-item {
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    padding: 1rem;
    border-radius: 0.4rem;
}
.menu-item:hover {
    background-color: #3e3e3e !important;
    border: none !important;
}

.menu_btn{
    display: flex;

}
.menu{
    border-radius: 1rem;
}
.menu_head {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #282828;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
}

.menu_head-item {
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    padding: 1rem;
    border-radius: 0.4rem;
}
.menu_head-item:hover {
    background-color: #3e3e3e !important;
    border: none !important;
}

.menu_head_btn{
    display: flex;

}
.popup-content {
    border-radius: 3rem !important;
}
.popup-content_head {
    top:30px !important;
}