.main_page{
    width: 84%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    /* background-color: #121212; */
    .main_page_container{
        margin-top: 50px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
}
