.Recommended{
    margin-top: 3rem;
    font-size: 2.5rem;
    color: white;
}
.Recommended_1{
    font-size: 1.5rem;
    color: white;
}
.refresh{
    font-size: 2rem;
    background-color: transparent !important;
    padding: 1rem;
    float: right !important;
    color: #a7a7a7;
    border: none !important;
}
.refresh:hover{
   color: white;
}

.song_img_ctn{
    flex: 3;
}
.root_album{
    flex: 1;
    cursor: pointer;
}
.root_album:hover{
    color: white;
}
.added_time{
    flex: 2;
}
.foot_r {
    flex: 1;
    display: flex;
}
