.logo{
    width: 100px;
}
.rs_top_bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 10px;
    justify-content: center;
    margin: 0px 4px 4px 4px;
    border-bottom: 2px solid;
}
.rs_bottom_bar{
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}
.rs_top_bar a{
    text-decoration: none;
    color: white;
    text-align: justify;
    /* margin: 15px; */
    text-align: center;
}
.rightsidebar{
    background-color: #ffe6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 7px;
    height: 85vh;
}

.btn{
    background-color: transparent !important;
}

.btn_l{
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0.4em 1em !important;
    margin: 0 5px;

}
.bottom_list{
    height: 53vh;
}
.bottom_list_container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.list_nav_item{
    display: flex;
    padding: 10px 20px;
}
.icon_list_nav_item{
    margin-right: 10px;
    width: 35px;
}
.list_nav_item svg{
    color: rgba(0, 0, 0, 0.719);
    
}
.list_nav_item span{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.719);
}
.list_nav_item.active{
    background: #ff3ea657;
    color: #cd4eaf;
}