.top100_main{
    .number{
        font-size: 2rem;
        font-weight: 600;
    }
    .main_banner{
        width: 100%;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            color: blueviolet;
            font-size: 10rem;
            text-align: center;
        }
    }
}