*{
  margin: 0;
  padding: 0;
}
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: var(--background-color);
	color: var(--white-color);
	font-family: "Roboto", "Arial", sans-serif;
  overflow: hidden;
  background-color:white;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1b1b1d;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #000;
}


.main_content{
  height: 100vh;
}
.music-player-panel.translate{
  background-color: rgba(255, 255, 255, 0.75)!important;
}
.react-jinke-music-player-main .music-player-panel{
  color: rgb(66, 66, 66) !important;
}
.react-jinke-music-player-main .music-player-panel .panel-content .rc-slider-handle, .react-jinke-music-player-main .music-player-panel .panel-content .rc-slider-track {
  background-color: #ff6c8f !important;
}
.react-jinke-music-player-main svg:active, .react-jinke-music-player-main svg:hover {
  color: #ff9f9f !important;
}
.rc-slider-step{
  background: #0000001c !important;
}
.react-jinke-music-player .music-player-controller{
  color: #e169a4 !important;
}
.react-jinke-music-player .music-player-controller .music-player-controller-setting{
  background: rgb(255 0 144 / 30%) !important;
}
.group.loading-icon svg{
  fill: #e169a4;
}
.react-jinke-music-player{
  right: 120px !important;
  left: unset!important;
}