// variable background
$bg-artist  : #f7e7ef;
$bg-albums  : #fbf2e5;
$bg-songs   : #e8ecfb;
$bg-playlist: #e4efec;
$bg-users   : #efe9fb;

// variable icon svg
$icon-color-artist  : #db2f63;
$icon-color-albums  : #fd9c02;
$icon-color-songs   : #405eda;
$icon-color-playlist: #1b8142;
$icon-color-users   : #8545dc;

.icon-artist {
  color: $icon-color-artist;
}

.icon-albums {
  color: $icon-color-albums;
}

.icon-songs {
  color: $icon-color-songs;
}

.icon-playlist {
  color: $icon-color-playlist;
}

.icon-users {
  color: $icon-color-users;
}

.main-content {
  padding-top: 11px;
  margin     : 0 -26px;

  // data statistical
  .card-box {
    border    : none !important;
    background: none !important;

    .card-body {
      border-radius: 10px;

      h4 {
        font-size  : 21px;
        font-weight: 400;
      }

      p {
        font-size: 17px;
      }

      .admin-circle-box {
        height          : 89px;
        width           : 89px;
        line-height     : 104px;
        background-color: var(--bg-white);
        display         : block;
        margin          : 0 auto;

        svg {
          font-size: 36px;
        }
      }
    }

    .bg-artist {
      background-color: $bg-artist;
    }

    .bg-albums {
      background-color: $bg-albums;
    }

    .bg-songs {
      background-color: $bg-songs;
    }

    .bg-playlist {
      background-color: $bg-playlist;
    }

    .bg-users {
      background-color: $bg-users;
    }
  }

  // Top Artist
  .card-header {
    .dataTables_filter {
      input {
        margin-left: .5em;
        display    : inline-block;
        width      : auto;
      }
    }
  }

  .table-admin {
    .border-bottom {
      h6 {
        font-weight: 400;
      }
    }
  }

  // Total Reviews
  .card {
    background-color: var(--bg-white);
    color           : var(--text-1);

    .card-header {

      background-color: transparent !important;
      border          : none !important;

      h4 {
        font-size: 18px;
      }
    }

    .card-body {

      img {
        width        : 70px;
        border-radius: 5px;
      }

      h4 {
        color: #333;
      }

      h6,
      p,
      small {
        font-size: 16px !important;
      }
    }
  }

  .icon_top-reviews {
    font-size: 2rem;
  }

  // Recent Users
  // Nothing
}