.modal-overlay-1 {
    position: fixed;
    inset: 0px;
    background-color: rgba(39, 39, 39, 0.75);
    z-index: 11;
}

.modal-kindMusic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #fff;
    color: #333;
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 4px;
    overflow: auto;
    z-index: 10;
}

.MuiDataGrid-root {
    font-size: 15px !important;
}

.MuiDataGrid-row {
    color: aliceblue !important;
}

.container-admin {
    position: relative;
    padding: 0 !important;
    // background-color: #f8f8f866;
    max-width: 100% !important;
    border-radius: 15px !important;
    box-shadow: 0px 4px 16px rgb(116 166 255 / 80%) !important;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../../img/bg-sidebar.jpg');
        background-size: contain;
        background-position: center;
        opacity: 0.15;
        filter: brightness(1.85);
        z-index: -1;
    }

    .header-admin {
        padding: 16px 0;
        border-bottom: 1px solid #cccccc;

        .heading-admin {
            border-radius: 20px;
            padding: 10px 20px;
            color: #333 !important;
            font-weight: 400 !important;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25) !important;
        }

        .actions-admin {
            .btn {
                border-radius: 16px !important;
                font-size: medium !important;
                padding: 6px 16px !important;
                background-color: #0b5fd0 !important;
                color: #fff !important;
                border-color: #0b5fd0 !important;
                transition: all 0.1s ease-in-out;

                &:hover {
                    opacity: 0.95;
                    scale: 1.05;
                }
            }

            label {
                color: var(--text-1);
            }

            input {

                &:focus-visible {
                    color: var(--bs-body-color);
                    background-color: var(--bs-body-bg);
                    border-color: #86b7fe !important;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
                }
            }
        }
    }

    .event-admin {
        text-align: right;

        .card {
            flex-direction: row !important;
            border: 0 !important;
            justify-content: end;
        }

        input {
            outline: 0;
            padding: 4px 4px 4px 10px !important;
            border-radius: 10px !important;
            transition: all 0.1s linear;

            &:focus-visible {
                border: 1px solid #74a6ffcc !important;
                box-shadow: 0px 1px 8px #74a6ffcc !important;
            }
        }
    }

    .table-admin {
        border: 1px solid #cbcbcb;

        thead {
            tr {
                th {
                    font-weight: 500;
                }
            }
        }

        tbody {
            tr {
                .td_img {
                    width: 10% !important;
                    max-width: 100%;
                }

                td {
                    font-size: smaller;
                    color: #333 !important;
                    max-width: 15rem;
                    max-height: 15rem;
                    overflow-wrap: break-word;
                    /* Chia từ khi văn bản không thể trên một dòng */
                    word-break: break-all;
                    /* Chia dòng ngay cả khi từ không thể đặt trên dòng mới */
                    hyphens: auto;
                    /* Chèn dấu gạch ngang khi cần thiết */

                    img {
                        width: 50%;
                        border-radius: 10%;
                    }
                }
            }
        }

        tr {
            --bs-gutter-x: 0;
            flex-wrap: nowrap;

            th,
            td {
                padding: 16px 0 16px 16px;
                border-top: 1px solid #cbcbcb;
            }

            td {
                button.btn-primary {
                    background-color: #0b5fd0 !important;
                }

                button.btn-danger-custom {
                    color: #fff;
                    background-color: #eb0000 !important;
                }

                button {
                    transition: all 0.1s linear;

                    &:hover {
                        opacity: 0.8 !important;
                        scale: 1.1;
                    }
                }

                .td_img {

                    img {
                        background-color: transparent !important;
                    }
                }
            }
        }


    }

    .pagination-admin {

        .description-pagination {

            span {
                color: var(--text-1);
            }
        }

        .pagination-numbers {

            ul {
                .border {
                    transition: all 0.1s linear;

                    &:hover {
                        scale: 1.1;
                    }
                }

                li {
                    border-color: #0b5fd0 !important;
                    cursor: pointer;

                    &.active {
                        background-color: #bfd7fa;

                        a {
                            color: #000 !important;
                        }
                    }

                    a {
                        color: var(--text-1);
                    }
                }
            }
        }
    }
}
.navbar{
    display: flex;
    flex-direction: column;
    position: relative;
    .search_ctn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        input {
            width: 30rem;
            height: 3rem;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-right: 10px;
            font-size: 16px;
        }
        button {
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #0b5fd0;
            color: white;
            border: none;
            cursor: pointer;
        }
    
        .add {
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #0b5fd0;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
    .search_result{
        position: absolute;
        top: 5rem;
        width: 30rem;
        height: 30rem;
        overflow-y: scroll;
        overflow-x: unset;
        font-size: medium;
        font-weight: 700;
        background-color: #a6b0c0b0;
        border-radius: 1rem;
        padding: 1rem;
        z-index: 10;
        .search_result_item{
            width: 100%;
            padding: 0.5rem;
            border-bottom: 1px solid #000000;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: #0b5fd0;
                color: white;
            }
        }
    }
}
.undefine{
    text-align: center;
   margin: 2rem;
}

.ranking_select{
    select{
        height: 3.5rem;
        margin: 0 1rem;
        border-radius: 0.5rem;
        width: 8%;
    }
    input{
        height: 4rem;
        margin: 0 1rem;
        border-radius: 0.5rem;
    }
}